<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
  <!-- Unity Configuration -->
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="GrosvnerMenu.Service.IMenuLoader"
                mapTo="GrosvnerMenu.Service.MenuLoader" />
      
      <register type="GrosvnerMenu.Service.IMenuInputReader"
                mapTo="GrosvnerMenu.Service.MenuInputReader" />
      
      <register type="GrosvnerMenu.Controller.IMenuController"
                mapTo="GrosvnerMenu.Controller.MenuController" />
    </container>
  </unity>

</configuration>