<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <!-- Unity Configuration -->
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="GrosvnerMenu.Service.IMenuLoader, GrosvnerMenu"
                mapTo="GrosvnerMenu.Service.CsvMenuLoader, GrosvnerMenu" />

      <register type="GrosvnerMenu.Data.IMenuSource, GrosvnerMenu"
                mapTo="GrosvnerMenu.Data.CsvMenuSource, GrosvnerMenu" />
      
      <register type="GrosvnerMenu.Service.IMenuInputReader, GrosvnerMenu"
                mapTo="GrosvnerMenu.Service.MenuInputReader, GrosvnerMenu" />
      
      <register type="GrosvnerMenu.Controller.IMenuController, GrosvnerMenu"
                mapTo="GrosvnerMenu.Controller.MenuController, GrosvnerMenu" />
    </container>
  </unity>

</configuration>